/*.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

.attribution {
  display: none;
}

body {
  height: 115vh;
  width: 100vw;
  background-color: #090b1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #content {
  height: 85%;
  width: 85%;
  background-color: #1b1938;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #content #background {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-image: url("/images/image-header-mobile.jpg");
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

body #content #background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(159, 85, 205, 0.3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body #content #offer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10% 6% 10% 6%;
}

body #content #offer h1 {
  -ms-flex-preferred-size: 26%;
      flex-basis: 26%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

body #content #offer h1 span {
  font-size: 1.8rem;
  color: #aa5cdb;
}

body #content #offer p {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  color: rgba(255, 255, 255, 0.75);
}

body #content #offer .dsc {
  font-size: 0.95rem;
  line-height: 1.5rem;
  padding: 0 10px 0 10px;
}

body #content #offer .stats {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #content #offer .stats .stat {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 15px;
}

body #content #offer .stats .stat .number {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

body #content #offer .stats .stat .stat-name {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
}
/*# sourceMappingURL=style.css.map */