/*.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:15px;
}

.attribution{
    display: none;
}
body{
    height:115vh;
    width: 100vw;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #content{
        height: 85%;
        width: 85%;
        background-color: hsl(244, 38%, 16%);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        #background{
            flex-basis: 30%;
            background-image: url('/images/image-header-mobile.jpg');
            background-position: center;
            background-size: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            position: relative;
            &::after{
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(159, 85, 205, 0.3);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
        #offer{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10% 6% 10% 6%;
            h1{
                flex-basis: 26%;
                color: hsl(0, 0%, 100%);
                font-family: 'Inter', sans-serif;
                font-size: 1.8rem;
                text-align: center;
                span{
                    font-size: 1.8rem;
                    color: hsl(277, 64%, 61%);
                }
            }
            p{
                flex-basis: 25%;
                text-align: center;
                font-family: 'Lexend Deca', sans-serif;
                color: hsla(0, 0%, 100%, 0.75);
                
            }
            .dsc{
                    font-size: 0.95rem;
                    line-height: 1.5rem;
                    padding: 0 10px 0 10px;
                    
                }
            .stats{
                flex-grow: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                
                .stat{
                    flex-grow: 1;
                    margin-top: 15px;
                    
                    .number{
                        font-size: 1.5rem;
                        margin-bottom: 0.2rem;
                    }
                    .stat-name{
                        text-transform: uppercase;
                        color: hsla(0, 0%, 100%, 0.6);
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}